body{
  padding: 0;
  margin: 0;
}

.site {
  display: flex;
}

#sidebar {
  width: 200px;
  background-color: rgb(56, 49, 49);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: beige;
}

#sidebar ul {
  padding: 0;
  margin-top: 50;
}
#sidebar ul li {
  list-style: none;
}

#sidebar ul li a {
  color: white;
  padding-bottom: 5px;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 10px;
  
}

#sidebar ul li a:hover {
  background-color: rgb(61, 43, 226);
}

.site-body {
  padding: 10px;
}
body{
  background-color: rgb(94, 94, 94);
}
p{
  color: black;
  margin: 10px auto;
  padding: 10px 20px 0 10px;
  background-color: blanchedalmond;
  border-radius: 8px;
  width: 1100px;
  outline-color:rgb(19, 128, 190);
  text-shadow: 1px 1px;
  text-indent: 370px;
}
p.article{
  color:black;
  background-color: aliceblue;
  border-radius: 8px;
  width: 1500px;
  margin: auto;
  padding: 10px 20px 0 10px;
  height: auto;
}
p.m{
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
form{
  color: rgb(0, 0, 0);
  background-color: rgb(176, 210, 228);
  margin: 10px auto;
  padding:10px 20px 0 10px;
  border-radius: 8px;
  width: 250px;
}
button{
  background-color: black;
  color: antiquewhite;
}